{% extends "main/base.html" %}
{%block title%} Search page {%endblock%}
{% block content %}
<h2>  {{request.GET.product_type }} Results ({{products.count}}) </h2>
<h5>Results for {{request.GET.search}}</h5>
<div class="d-flex justify-content-end ">
  <form action="{% url 'product:search_product_view' %}" method="GET">
    <div class="d-flex flex-row gap-5 justify-content-center">
        <div class="d-flex flex-column justify-content-center gap-4">
        <h3>Search</h3>
        <input type="search" class="form-control " value="{{request.GET.search}}" name="search">
      </div>
      <div class="d-flex flex-column justify-content-center gap-4">
        <h3>The product types</h3>
        <select name="product_type" class="form-select">
          <option  {%if request.GET.product_type == 'All' %} selected{%endif%} value="All">All </option>
          <option {%if request.GET.product_type == 'Perfumes' %} selected{%endif%} value="Perfumes">Perfumes</option>
          <option {%if request.GET.product_type == 'Oud' %} selected{%endif%} value="Oud">Oud</option>
          <option {%if request.GET.product_type == 'Other' %} selected{%endif%} value="Other">Other</option>
        </select>
      </div>
      
    </div>
    <div class="d-flex justify-content-center ">
    <button type="submit" class="btn btn-primary">Apply</button>
  </div>
  </form>
</div>


<div class="row mt-5 row-cols-1 row-cols-md-3 g-4">

    {% for product in products %}
      <div class="col">
          <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow">
                <img src="{{ product.product_image.url }}" style="width: 15rem;" /> 
              <a href="{% url 'product:detail_product_view' product.id %}"> <h3>{{product.title}}</h3> </a>
              <h4>{{product.price}} SR </h4>
              <!-- <p>{{product.content}}</p> -->
          </div>
      </div>
    {% endfor %}
  
  
  </div>

{%endblock%}