{% extends "main/base.html" %}
{%block title%} Update product page {%endblock%}
{% block content %}
 <h1> Update {{plant.title}}</h1>
 
<div class="col-6"> 
    <form class="d-flex flex-column gap-2" action="{%url 'product:update_product_view' product.id %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        
        <label for="title">Title:</label>
        <input type="text"  name="title" class="from-control" placeholder="title..." value="{{product.title}}"><br><br>
    
        
        <label for="content">Content:</label>
        <textarea id="content" name="content" class="from-control" placeholder="content..." required>{{product.content}}</textarea><br><br>
        
        <select class="form-select" name="types">
            <option value="All"{% if product.types == "All" %} selected{% endif %}>All</option>
            <option value="Perfumes"{% if product.types == "Perfumes" %} selected{% endif %}>Perfumes</option>
            <option value="Oud"{% if product.types == "Oud" %} selected{% endif %}>Oud</option>
            <option value="Other"{% if product.types == "Other" %} selected{% endif %}>Other</option>
        </select> 

        <label for="price">price:</label>
        <input type="number"  name="price" class="from-control" placeholder="SR..." value="{{product.price}}" ><br><br>

        <label for="quantity">quantity:</label>
        <input type="number"  name="quantity" class="from-control" placeholder="number..." value="{{product.quantity}}"><br><br>


        <div class="row">
            <div class="col-2">
                <img src="{{product.product_image.url}}" class="w-100">
            </div>
            <div class="col">
                <input type="file"  name="product_image" class="from-control"><br><br>
            </div>
        </div>
    
        <input type="submit" class="btn btn-primary" value="update">
    </form>

</div>

{%endblock%} 
